{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>{{ encabezado }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Creador</th>
                <th>Carta del creador</th>
                <th>Retador</th>
                <th>Carta del retador</th>
                <th>Ganador</th>
            {% if encabezado != "Partidas jugadas" %}
                <th>Jugar</th>
            {% endif %}


            </tr>
        </thead>
        <tbody>
        {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.user0.username }}</td>
                    <td>{{ game.card0.number}} de {{ game.card0.suit}}</td>   
                    <td>{{ game.user1 ? game.user1.username : "Sin jugador" }}</td>  
                    <td>{{ game.card1 ? game.card1.number : "?"}} de {{ game.card1 ? game.card1.suit : "?"}}</td>              
                <td>     
                        {% if game.winner is null %}
                            Sin datos
                        {% elseif game.winner == 0 %}
                            {{ game.user0.username }}
                        {% else %}
                            {{ game.user1.username }}
                        {% endif %}
                    </td>
                    {% if encabezado != "Partidas jugadas" %}
                    <td>

                        <a href="{{ path('app_game_play', {'idGame': game.id}) }}">jugar</a>
                    </td>
                    {% endif %}
                </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay partidas disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
