{% extends 'base.html.twig' %}

{% block title %}Jugar partida{% endblock %}

{% block body %}
    <h2>Jugar Partida</h2>

    <h3> Selecciona una carta</h3>

    {% for card in gameCards %}
    <form action="/game/{{ game.id }}" method="post">
        <input type="hidden" name="card" value="{{ card.id }}">
        <button type="submit">{{ card.number }} de {{ card.suit }}</button>
    </form>
    <br>
    {% endfor %}

    <br>
    <a href="{{ path('app_game_index') }}">back to list</a>
{% endblock %}
